doctype html
html(lang="en")
  head
    title Motorbot Playlist
    link(type='image/png',rel='icon',href='motorbotIcon.png')
    link(href='/css/playlist.css',rel='stylesheet')
    link(href='/font-awesome-4.6.3/css/font-awesome.min.css',rel='stylesheet')
    script(src='/jquery-3.1.0.min.js')
    script.
      socket = null
      hb = null
      function sendHB(){
        socket.send(JSON.stringify({type:"hb",data:{}}));
      }

      function setUpWebSocketConnection(){
        socket = new WebSocket("wss://mb.lolstat.net:3211")
        socket.onopen = function (event){
          console.info("Connected to WS");
          hb = setInterval(sendHB,5000);
        }

        socket.onmessage = function (event){
          var data = JSON.parse(event.data)
          console.log(data)
          if(data){
            if(data.type == "trackUpdate"){
              $(".playing").html(data.track);
              $(".trackPlaying").removeClass("trackPlaying");
              $(".play").parent().html($(".play").parent().attr('data-trackNo'));
              $("#"+data.trackId+" .item").html('<i class="fa fa-volume-up play" aria-hidden="true"></i>');
              $("#"+data.trackId).addClass("trackPlaying");
            }
            else if(data.type == "playUpdate"){
              if(data.status == "stop"){
                $("#playStop").html('<i class="fa fa-play" aria-hidden="true" onclick="playMusic();" style="cursor: pointer;""></i>')
              }
              else if(data.status == "play"){
                $("#playStop").html('<i class="fa fa-stop" aria-hidden="true" onclick="stopMusic();" style="cursor: pointer;""></i>')
              }
            }
          }
        }

        socket.onclose = function (event){
          console.error("Websocket Closed...")
        }

        window.addEventListener('beforeunload', function(event) {
          clearInterval(hb);
          console.info("WebSocket About to Unload");
        });
      }

      $(document).ready(function(){
        setUpWebSocketConnection();
        $("#playlist li").each(function(index){
          var self = $(this);
          self.dblclick(function(){
            $.ajax({
              url: '/api/playSong/'+self.attr('id'),
              dataType: 'json',
              success: function(d){
                console.log(d);
                $(".trackPlaying").removeClass("trackPlaying");
                $(".play").parent().html($(".play").parent().attr('data-trackNo'))
                self.children('.item').html('<i class="fa fa-volume-up play" aria-hidden="true"></i>');
                self.addClass('trackPlaying');
              },
              error: function(err){
                console.log(err);
              }
            });
          });
        });
      });

      function playMusic(){
        $.ajax({
          url: '/api/playSong',
          dataType: 'json',
          success: function(d){
            //setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }

      function stopMusic(){
        $.ajax({
          url: '/api/stopSong',
          dataType: 'json',
          success: function(d){
            //setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }

      function prevMusic(){
        $.ajax({
          url: '/api/prevSong',
          dataType: 'json',
          success: function(d){
            //setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }

      function skipMusic(){
        $.ajax({
          url: '/api/skipSong',
          dataType: 'json',
          success: function(d){
            //setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }
  body
    .header
      if playing == ""
        .playing Nothing Playing Currently
        .controls <i class="fa fa-step-backward" onclick='prevMusic();' style='cursor: pointer;' aria-hidden="true"></i> &nbsp; <span id="playStop"><i class="fa fa-play" aria-hidden="true" onclick='playMusic();' style='cursor: pointer;'></i></span> &nbsp; <i class="fa fa-step-forward" onclick='skipMusic();' style='cursor: pointer;' aria-hidden="true"></i>
      else
        .playing #{playing}
        .controls <i class="fa fa-step-backward" onclick='prevMusic();' style='cursor: pointer;' aria-hidden="true"></i> &nbsp; <span id="playStop"><i class="fa fa-stop" aria-hidden="true" onclick='stopMusic();' style='cursor: pointer;'></i></span> &nbsp; <i class="fa fa-step-forward" onclick='skipMusic();' style='cursor: pointer;' aria-hidden="true"></i>
    ul#playlist
      li.titleRow
        .item
        .title TITLE
        .videoId VIDEO
        .time TIME
        //.status Status
        .user USER
      -var i = 1
      for song in playlist
        -var songId = song._id.toString().replace(/\"/gmi,"");
        if song.status == "playing"
          li(id=songId,class='trackPlaying')
            .item(data-trackNo=i) <i class="fa fa-volume-up play" aria-hidden="true"></i>
            .title=song.title
            .videoId <a href="https://www.youtube.com/watch?v=#{song.videoId}" target="_blank">#{song.videoId}</a>
            .time=song.formattedTimestamp
            //.status=song.status
            .user=song.userId
        else
          li(id=songId)
            .item(data-trackNo=i)=i
            .title=song.title
            .videoId <a href="https://www.youtube.com/watch?v=#{song.videoId}" target="_blank">#{song.videoId}</a>
            .time=song.formattedTimestamp
            //.status=song.status
            .user=song.userId
        -i++
