doctype html
html(lang="en")
  head
    title Motorbot Playlist
    link(href='/css/playlist.css',rel='stylesheet')
    link(href='/font-awesome-4.6.3/css/font-awesome.min.css',rel='stylesheet')
  body
    .header
      .playing Now Playing - #{playing}
    ul
      li.titleRow
        .item
        .title Title
        .videoId Video ID
        .time Time
        .status Status
        .user UserId
      -var i = 1
      for song in playlist
        li
          if song.status == "playing"
            .item <i class="fa fa-play" aria-hidden="true"></i>
          else
            .item=i
          .title=song.title
          .videoId=song.videoId
          .time=song.formattedTimestamp
          .status=song.status
          .user=song.userId
        -i++
