doctype html
html(lang="en")
  head
    title Motorbot Playlist
    link(href='/css/playlist.css',rel='stylesheet')
    link(href='/font-awesome-4.6.3/css/font-awesome.min.css',rel='stylesheet')
    script(src='/jquery-3.1.0.min.js')
    script.
      $(document).ready(function(){
        $("#playlist li").each(function(index){
          $(this).dblclick(function(){
            $.ajax({
              url: '/api/playSong/'+$(this).attr('id'),
              dataType: 'json',
              success: function(d){
                console.log(d);
                $(".item", this).html('<i class="fa fa-play" aria-hidden="true"></i>');
                setTimeout(function(){window.location.reload()},2000);
              },
              error: function(err){
                console.log(err);
              }
            });
          });
        });
      });

      function playMusic(){
        $.ajax({
          url: '/api/playSong',
          dataType: 'json',
          success: function(d){
            setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }

      function stopMusic(){
        $.ajax({
          url: '/api/stopSong',
          dataType: 'json',
          success: function(d){
            setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }

      function prevMusic(){
        $.ajax({
          url: '/api/prevSong',
          dataType: 'json',
          success: function(d){
            setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }

      function skipMusic(){
        $.ajax({
          url: '/api/skipSong',
          dataType: 'json',
          success: function(d){
            setTimeout(function(){window.location.reload()},2000);
          },
          error: function(err){
            console.log(err);
          }
        });
      }
  body
    .header
      if playing == ""
        .playing Nothing Playing Currently
        .controls <i class="fa fa-step-backward" onclick='prevMusic();' style='cursor: pointer;' aria-hidden="true"></i> &nbsp; <i class="fa fa-play" aria-hidden="true" onclick='playMusic();' style='cursor: pointer;'></i> &nbsp; <i class="fa fa-step-forward" onclick='skipMusic();' style='cursor: pointer;' aria-hidden="true"></i>
      else
        .playing #{playing}
        .controls <i class="fa fa-step-backward" onclick='prevMusic();' style='cursor: pointer;' aria-hidden="true"></i> &nbsp; <i class="fa fa-stop" aria-hidden="true" onclick='stopMusic();' style='cursor: pointer;'></i> &nbsp; <i class="fa fa-step-forward" onclick='skipMusic();' style='cursor: pointer;' aria-hidden="true"></i>
    ul#playlist
      li.titleRow
        .item
        .title Title
        .videoId Video ID
        .time Time
        .status Status
        .user UserId
      -var i = 1
      for song in playlist
        -var songId = song._id.toString().replace(/\"/gmi,"");
        li(id=songId)
          if song.status == "playing"
            .item <i class="fa fa-play" aria-hidden="true"></i>
          else
            .item=i
          .title=song.title
          .videoId=song.videoId
          .time=song.formattedTimestamp
          .status=song.status
          .user=song.userId
        -i++
