doctype html
html(lang="en")
  head
    title Motorbot Playlist
    link(href='/css/playlist.css',rel='stylesheet')
  body
    ul
      li.titleRow
        .item
        .title Title
        .videoId Video ID
        .time Time
        .status Status
        .user UserId
      -var i = 1
      for song in playlist
        li
          .item=i
          .title=song.title
          .videoId=song.videoId
          .time=song.formattedTimestamp
          .status=song.status
          .user=song.userId
        -i++
