doctype html
html(lang="en")
    head
        title MotorBot Playlist
        //Mobile Web App Meta Tags
        link(rel="manifest", href="/manifest.json")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        link(type='image/png', rel='icon', href='https://motorbot.io/motorbot_icon_128.png')
        link(href='https://motorbot.io/css/presenceupdate.css', rel='stylesheet')
        script(src="https://kit.fontawesome.com/a702e6de68.js")
    body
        .capture-frame
            .event-wrapper
                .top-level
                    div(class="event_type add") <i class="fas fa-user-alt"></i>
                    .profile_icon(style="background: url('https://cdn.discordapp.com/avatars/" + PresenceUpdateData.id + "/" + PresenceUpdateData.avatar + ".png?size=128') no-repeat center; background-size: cover;")
                    .event_data
                        .value <span class='user'>#{PresenceUpdateData.user}</span><span class='disc'>##{PresenceUpdateData.discriminator}</span> Created Presence Update Listener
                        - let d = new Date()
                        .date #{d.getDate()}/#{(d.getMonth() + 1 < 10 ? "0" + (d.getMonth() + 1) : d.getMonth() + 1)}/#{d.getFullYear()} at #{(d.getHours() < 10 ? "0" + d.getHours() : d.getHours())}:#{(d.getMinutes() < 10 ? "0" + d.getMinutes() : d.getMinutes())}:#{(d.getSeconds() < 10 ? "0"+d.getSeconds() : d.getSeconds())}
                .bottom-level
                    ul
                        li
                            div(class="id online") 01 &mdash;
                            .val With User Identifier <span class='code'>#{PresenceUpdateData.id}</span>
                        li
                            div(class="id online") 02 &mdash;
                            .val With Status <span>#{PresenceUpdateData.status}</span>



